# Xcode
DerivedData/
.build/

# User settings
*.xcuserstate
xcuserdata/

## Xcode user settings
DerivedData/

# SwiftPM
.build

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html

# Mac
.DS_Store

# Secrets
.env

# API Keys
Secrets.plistobjects.txt
